@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body{
    @apply font-poppins
  }
  section {
    @apply py-10 md:py-20 space-y-5 md:space-y-10 ;
  }
  h1 {
    @apply text-primary text-3xl md:text-4xl lg:text-5xl font-bold text-center;
  }
  h2 {
    @apply text-xl lg:text-2xl 
  }
  p{
    @apply text-sm md:text-base
  }
}

/* Hide scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Infinite scroll animation */
@keyframes scrollLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.logo-slider {
  display: flex;
  width: 200%;
  animation: scrollLeft 18s linear infinite;
}
